.game{
    width: 500px;
    height: 600px;
    background-color: rgb(173, 136, 208);
    box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.79);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

body{
    display: flex;
    justify-content: center;
}

.solutions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}


.solution{
    background-color: aliceblue;
    width: 350px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: -1px 20px 15px -12px rgba(209, 209, 209, 0.79);
}

.place{
    width: 40px;
    height: 40px;
    background-color: rgb(41, 67, 59);
    border-radius: 50%;
}

.variables-box{
    background-color: aliceblue;
    width: 250px;
    height: 100px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5px;

}

.variables{
    width: 40px;
    height: 40px;
    background-color: aquamarine;
    border-radius: 50%;
    /* /* background: radial-gradient(circle at 100px 100px, #5cabff, rgb(52, 159, 189)); */
    box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.79); */

}

.active-solution{
    border: 3px rgb(75, 46, 46) solid;
}

.solution:not(.active-solution) {
    opacity: 0.3;
}

.variables:hover {
    cursor: pointer;
}