body {
    background-color: rgb(197, 205, 205);
}

.main {
    margin: auto;
    width: 400px;
    height: 500px;
    background-color: rgb(234 237 239);
    border-radius: 7%;
    box-shadow: 5px 9px 14px -3px rgba(0, 0, 0, 0.46);
    margin-top: 50px;
}

.top{
    width: 400px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.names{
    width: 190px;
    position: relative;
    top: 70px;
    left: 30px;
}

.icons{
    width: 150px;
    position: relative;
    left: 40px;
    top: 25px;
}


.loading {
    position: relative;
    top: 110px;
    width: 350px;
    left: 30px;

}
.controls {
    width: 190px;
    position: relative;
    top: 130px;
    left: 30px;
}

.repeats {
    position: relative;
    top: 115px;
    width: 100px;
    left: 85px ;
}