.main {
    width: 600px;
    height: 800px;
    background-color: rgb(207, 207, 207);
    padding-top: 20px;
}

.list {
    width: 530px;
    margin: auto;
    
}

h1{
    font: 50px bolder;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 30px;
   
}


.list label:nth-child(even) {
    background-color: rgb(143, 198, 211);
}

.list label:nth-child(odd) {
    background-color: rgb(188, 231, 212);
} 


.list label{
    display: block;
    padding-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    padding: 20px;
}

input:checked  {
    text-decoration: line-through;
    background-color: rgb(165, 158, 158);
}




.calendar{
    width: 700px;
    height: 400px;
    background-color: rgb(247, 237, 225);
    margin-top: 150px;
    margin-bottom: 100px;
}

.months span {
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 18px;
    font-size: 16px;
    opacity: 0.3;

}
.months {
    padding-top: 20px;
}

.months span:hover {
    font-size: 20px ;
    opacity: 0.7;
    cursor: pointer;
}

.table {
    padding-top: 15px;
    padding-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    opacity: 0.4;
    
}
table {
    border-spacing: 25px;
    text-align: center;
}

.red {
    color: rgb(202, 129, 129);
}

td:hover {
    cursor: pointer;
    color: aliceblue;
    background-color: red;
    border-radius: 20%;
}
