table, td {
    border: 2px solid black;
    background-color: rgb(220, 220, 196);
    
}

td {
    width: 70px;
    height: 70px;
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: rgb(86, 84, 34);
}
tr:nth-child(odd) td:nth-child(even) {
    background-color: rgb(86, 84, 34); 
}



.king {
    width: 35px;
    height: 30px;
    border-top-left-radius: 34%;
    border-top-right-radius: 34%;
    margin: auto
;
}

.king::after {
    content: '';
    display: block;
    background-color: rgb(12, 11, 11);
    width: 50px;
    height: 12px;
    position: relative;
    top: 10px;
    right: 7px;
}

.king::before {
    content: '';
    background-image: url(https://cdn-icons.flaticon.com/png/128/1893/premium/1893320.png?token=exp=1655318168~hmac=ae5b4c0dfe1cfc9e1fc0c0e3967e4bd3); 
    background-size: 20px;
    background-position: center;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    color: black;
    position: relative;
    bottom: 20px;
    left: 8px;
}


.blackfigure {
    background-color: black;
}

.whitefigure, .whitefigure::after {
    background-color: white;
}
.pawn {
    width: 0px;
    height: 0px;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    background-color: transparent;
    border-bottom: 25px solid;
    margin: auto;
}
.pawn.blackfigure {
    border-bottom: 37px solid black;
}

.pawn.whitefigure {
    border-bottom: 37px solid white;
}

.pawn::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 12px;
    right: 10px;
    border-radius: 50%;

}

.pawn.whitefigure::before, .pawn.whitefigure::after{
    background-color: white;
}
.pawn.blackfigure::before,.pawn.blackfigure::after {
    background-color: black;
}

.pawn::after {
    content: '';
    display: block;
    width: 45px;
    height: 13px;
    position: relative;
    top: 14px;
    right: 22px;
    
}

.rook {
    width: 35px;
    height: 37px;
    margin: auto;
}

.rook::before {
    content: 'ШШШ';
    width: 25px;
    font-weight: 900;
    color: white;
    height: 2px;
    position: relative;
    bottom: 13px;
    right: 10px;
}

.rook.blackfigure::before {
    color: black;
}

.rook::after {
    content: '';
    display: block;
    width: 52px;
    height: 12px;
    position: relative;
    top: 18px;
    right: 9px;
}

.rook.blackfigure::after {
    background-color: black;
}

.knight {
    width: 0px;
    height: 0px;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    background-color: transparent;
    border-bottom: 30px solid;
    position: relative;
    left: 24px;
    top: 5px;

}

.knight.blackfigure {
    border-bottom: 42px solid black;
}

.knight.whitefigure {
    border-bottom: 42px solid white;
}


.knight.whitefigure::before {
    background-color: white;
}

.knight.blackfigure::before {
    background-color: black;
}

.knight::before{
    content: '';
    display: block;
    width: 35px;
    height: 20px;
    border-radius: 30%;
    position: relative;
    right: 25px;
    bottom: 5px;
    transform: rotate(-20deg);

}

.knight::after{
    content: 'АА';
    display: block;
    font-weight: 900;
    background-color: transparent;
    position: relative;
    bottom: 34px;
    right: 18px;
    transform: rotate(-20deg);

}
.knight.whitefigure::after {
    color: white;
}

.queen {
    width: 45px;
    height: 30px;
    position: relative;
    top: 7px;
    left: 11px;
    border-radius: 20%;
}

.queen::before {
    content: 'Ї_Ї_Ї_Ї';
    position: relative;
    bottom: 10px;
    right: 2px;
    font-weight: 900;
}

.queen::after {
    content: '';
    display: block;
    width: 55px;
    height: 10px;
    position: relative;
    right: 5px;
    top: 5px;
}
.queen.whitefigure::before {
    color: white;
}
.queen.blackfigure::after {
    background-color: black;
}

.bishop {
    width: 0px;
    height: 0px;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    background-color: transparent;
    border-bottom: 25px solid;
    margin: auto;
}
.bishop.blackfigure {
    border-bottom: 48px solid black;
}

.bishop.whitefigure {
    border-bottom: 48px solid white;
}

.bishop::before {
    content: '';
    display: block;
    width: 25px;
    height: 27px;
    position: relative;
    bottom: 9px;
    right: 12px;
    border-radius: 40%;

}

.bishop.whitefigure::before,
.bishop.whitefigure::after {
    background-color: white;
}

.bishop.blackfigure::before,
.bishop.blackfigure::after {
    background-color: black;
}

.bishop::after {
    content: '';
    display: block;
    width: 35px;
    height: 13px;
    position: relative;
    right: 18px;
    bottom: 12px;
    border-radius: 19%;

}