body {
    background: #F5F5F5;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background: #000000;
    color: #F5F5F5;
    /* position: absolute; */
    width: 100%;
    height: 50px;
    /* left: 0px;
    top: 0px; */
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 100%;
    height: 123px;
    /* left: 0px;
    top: 50px; */
    /* padding-top: 14px;
    padding-left: 10px; */

}

.nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;

}

.nav-top-right {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    padding-top: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.top-slogan {
    /* position: absolute;
    left: 332px;
    top: 189px; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    /* line-height: 22px; */
}

main{
    /* margin-left: 5px;
    margin-right: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-poster {
    /* position: absolute; */
    width: 1300px;
    height: 423px;
    /* left: 15px; */
    /* top: 227px; */

    background: #D9D9D9;
}

.shop-Category {
    /* position: absolute; */
    /* width: 280px;
    height: 37px; */
    /* left: 15px; */
    /* top: 270px; */
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    /* position: absolute; */
    /* width: 100%; */
    height: 160px;
    /* left: 19.5px;
    top: 749px; */
    gap: 20px;
}

.categories p {
    text-align: center;
}


.categories-pictures {
    /* position: absolute; */
    width: 166.14px;
    height: 143.66px;
    /* left: 15px;
    top: 745px; */
    background: #D9D9D9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    border-radius: 15px 15px 0px 0px;
}

.shop-favorites {
    /* position: absolute;
    width: 346px; */
    height: 37px;
    /* left: 15px;
    top: 964px; */
    margin-top: 35px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    /* line-height: 37px; */
    color: #000000;
}

.goods {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.goods-list {
    /* position: absolute; */
    width: 270px;
    height: 431px;
    /* left: 21px;
    top: 1038px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    /* margin-top: 1000px; */
}

.deals-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    /* line-height: 37px; */
    color: #000000;
}

.deals{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    /* width: 270px;
    height: 431px; */

}

.goods-pictures{
    width: 200px;
    height: 200px;
    background: #D9D9D9;
    margin: auto;
    margin-top: 10px;
}

.shop-brands {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        /* line-height: 37px; */
        color: #000000;
}

.brands-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;

}

.brand-picture {
    width: 198px;
    height: 68px;
    background: #D9D9D9;
}


.recipes-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    /* line-height: 37px; */
    color: #000000;
}

.recipes-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    text-align: center;
    padding: auto;


}
.recipe-picture{
    width: 339.88px;
    height: 277px;
    background: #D9D9D9;
    border-radius: 20px;
    margin: auto;

}

.hidden {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    margin-top: 20px;
    /* width: 100%; */
    height: 562.12px;
    /* left: 0px;
    top: 2974px; */
    color: #FFFFFF;
    background: #000000;
    padding-left: 15px;
}
.company-info{
    display: flex;
    gap: 55px;
}

@media (max-width:414px) {

    .number,
    .nav-list,
    h5 {
        display: none;
    }

    nav{
        height: 50px;
    }

    header {
        width: 414px;
        height: 70px;
    }

    .main-poster {
        width: 394px;
        height: 219.94px;
    }

    .logo {
        width: 60px;
        height: 20px;
    }

    footer{
        width: 414px;
        height: 655px;
    }

.categories, .goods, .deals, .brands-list, .recipes-list {
    flex-wrap: wrap;
}


.ambassadors p, .our-company p, .informations p, .plantX p {
    display: none;
}

.company-info{
    flex-direction: column;
    gap: 0px;
}
}