.board{
    width: 700px;
    height: 380px;
}

.start{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
    border-radius: 15px;
    background-image: url(start.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 25px;
    color: antiquewhite;

}

.hidden {
    display: none;
}
div .checked {
    background-color: rgb(131, 217, 236);
}

.game {
    background-image: url(background1.jpg);
    background-position: center;
    background-size: cover;
}

#startButton{
    animation-name: startChangeColor;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    font-size: 55px;
    cursor: pointer;
}

@keyframes startChangeColor {
    0% {color: antiquewhite;}
    50% {color: rgb(255, 0, 230);}
    100% {color: aquamarine;}
}
.players {
    display: flex;
    justify-content: space-between;
    gap: 7px;

}
.player{
    width: 84px;
    height: 70px;
    background-image: url(spryte.png);
    background-color: aliceblue;
    border-radius: 10px;
}

.first{
    background-position: left -57px top -45px;
}
.second {
    background-position: left -280px top -45px;
}
.third {
    background-position: left -387px top -262px;
}

.player:hover {
    border: 3px solid rgb(165, 15, 140);
    cursor: pointer;
}

.playerActive{
    width: 84px;
    height: 70px;
    background-image: url(spryte.png);
    position: absolute;
    top: 234px;
    left: 10px;
    transition: top 0.5s, left 0.5s;
}
.controls {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7px;
}

img{
    width: 20px;
    height: 20px;
    background-color: rgba(240, 248, 255, 0.452);

}
