body {
    background-color: #EFE5DC;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
}

header {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.header-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 14px;
    width: 80%;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}
.acc, .cart {
    width: 20px;
    height: 20px;
}


.shortcuts{
    display: flex;
    flex-direction: raw;
    gap: 12px;
}

.logo {
    width: 190.96px;
    height: 40px;
}
.search-field input{
    border: none;
    background-color: #EFE5DC;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}

#hr1{
    size: 1px;
    color: rgb(0, 0, 0);
    width: 100%;
    margin-top: 14px;
}

#hr2{
    size: 4px;
    color: rgb(0, 0, 0);
    width: 80%;
    margin-top: 100px;
}

.lang{
    font-weight: 300px;
    font-size: 20px;
    line-height: 20px;
    width: 24px;
    height: 20px;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.main-poster {
    width: 1110px;
    height: 496px;
}

.book-info, .book-img, .plot23{
    display: flex;
}
.book-info {
    margin-top: 17px;
    gap: 35px;
}

#hr3 {
    size: 4px;
    color: rgb(0, 0, 0);
    width: 100%;
}

.book-img2 {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    gap: 5px;
}

h3{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
}

.plot23 {
    justify-content: space-evenly;
    gap: 19px;
    margin-top: 31px;
}

.reserve-book {
    width: 193px;
    height: 52px;
    color: white;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.another-books{
    background-image: url(/website/images/image\ 2.png);
    max-width: 140%;
    height: 975px;
    display: flex;
}

.wings-clock{
    width: 701px;
    height: 656px;
}

.totalinfo-books{
    margin-left: 50px;
}

.books-list{
    display: flex;
    position: relative;
    top: -350px;
}

button{
    width: 204px;
height: 52px;
background: #000000;
border-radius: 5px;
color: white;
}

footer{
    display: flex;
    flex-direction: column;
}

.high-footer{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.high-footer div{
    margin-bottom: 15px;
}

#hr5 {
    size: 4px;
    color: rgb(0, 0, 0);
    width: 60%;
}

#hr4{
    size: 4px;
    color: rgb(0, 0, 0);
    width: 100%;
    margin-top: -200px;
    margin-bottom: 180px;
}

.low-footer{
    width: 56%;
    margin-left: 22%;
    margin-top: 7px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    margin-right: 22%;
}