body{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    
}

header, footer {
    height: 100px;
    background-color: rgb(220, 206, 184);
}
main{
    background-color: rgb(123, 171, 171);
    height: 400px;
    display: flex;
    justify-content: space-between; 
}
.main{
    display: flex;
    flex: 100%;
    flex-direction: column;
    justify-content: stretch;
}
aside{
    width: 200px;
    background-color: rgb(128, 170, 59);
    
}
.higher{
    background-color: blueviolet;
    flex: 2;
    display: flex;
}

.lower{
    background-color: grey;
    flex: 1;
}

.left{
    background-color: coral;
    flex: 50%;
}

.right {
    flex: 50%;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
}
.top-right{
    background-color: red;
    flex: 1;
    display: flex;

}

.bottom-right{
    background-color: rgb(102, 93, 181);
    flex: 1;
}

.second{
    flex: 2;
    background-color: azure;
}

.third {
    flex: 1;
    background-color: cadetblue;
}